/*This file contains CSS properties for
the addon implementation of the whiteboard
to the code editor.

Copyright and Usage Information
===============================

This project and file is licensed with the MIT License.
See https://github.com/andrewcoool/collaborate-code/
and the LICENSE file for more information.

Author: Andrew Qiu (GitHub @andrewcoool)
*/


.whiteboard{
    width: 100%;
    height: 100%;
    z-index: 1;
    position:absolute;
}

.toggle{
    width: 60px;
    height: 60px;
    right: 15.5px;
    top:70px;
    position:absolute;
    z-index: 2;
    background: url("../img/brush.png") center no-repeat;
    background-color: aqua;
}

.toggle-off{
    background: url("../img/text.png") center no-repeat;
    background-color: aqua;
}