<!doctype html>
<html>
<head>
    <link rel='stylesheet' href="{{ url_for('static', filename='css/editor.css') }}">
</head>
<body>
    OT Test
    <div id='editor'>{{document}}</div>
</body>
</html>

<script src="{{ url_for('static', filename='src/ace.js') }}"></script>

<!--ACE EDITOR MODES & THEMES-->
<script src="{{ url_for('static', filename='src/modes/mode-python.js') }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ url_for('static', filename='src/themes/theme-twilight.js') }}" type="text/javascript" charset="utf-8"></script>
<!---->
<script src="{{ url_for('static', filename='src/transform.js') }}?v=0.11" type="text/javascript" charset="utf-8"></script>
<script src="{{ url_for('static', filename='src/apply.js') }}?v=0.16" type="text/javascript" charset="utf-8"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
<script>
// Setup Socket Handling
var socket = io('/editor');

socket.on('connect', function(){
    socket.emit('joined');
});

// The changes made to the document by the client, which has
// not yet been sent to the server
var pending_changes = [];

// Whether or not the client should ignore changes from editor.on("change")
// This is so we can edit the document programatically without triggering
// a loop of on change events
var ignore_changes = false;

// Whether or not the client is still waiting for the server
// to send a confirmation for the changes
var waiting_for_response = false;

/*Send the pending changes to the server*/
function send_changes(){
    socket.emit('send operation', JSON.stringify(pending_changes));
}

var session_id = '';

/*If the server has completed the last request, send an update*/
function update(){
    if (!waiting_for_response){
        // Send Response
        send_changes();
        pending_changes = [];
    }

    // Refresh every 1000ms
    setTimeout(update, 5000);
}

// Set off update loop
update();

// Handle server callback success after joining
socket.on('after-join', (session) => {
    session_id = session;
});

// Handle server callback success after submitting changes
socket.on('call-back', (data) => {
    var server_operations = JSON.parse(data);

    let [to_apply, ] = xform_multiple(pending_changes, server_operations);

    try{
        ignore_changes = true;

        for (let op of to_apply){
            apply(op, editor);
        }
    }finally{
        ignore_changes = false;
    }
    
    
    if(to_apply.length > 0){console.log('Received update...', to_apply);}
});



// Set up Editor
var editor_elem = document.getElementById('editor');

var editor = ace.edit(editor_elem);
var JavaScriptMode = ace.require("ace/mode/python").Mode;
editor.session.setMode(new JavaScriptMode());
editor.setTheme('ace/theme/twilight');

editor.session.on('change', function(e){

    if(ignore_changes){return;}

    if (e.action == 'remove'){
        // Iterate over each row
        var index = 0;
        for (var i = e.start.row; i <= e.end.row; i++){
            // Iterate over each column
            var [start, end] = [0, e.lines[index].length];
            if (index == 0){
                start += e.start.column;
                end += e.start.column;
            }

            for (var j = start; j < end; j++){
                if (i == e.start.row){
                    pending_changes.push(['DEL', [e.start.row, start], session_id]);
                }else{
                    pending_changes.push(['DEL', [e.start.row + 1, start], session_id]);
                }
            }

            // If it is any row but the first row
            if(i > e.start.row){
                // Remove a line
                pending_changes.push(['DEL', [e.start.row + 1, -1], session_id]);
            }

            index++;
        }
    }else if (e.action == 'insert'){
        // Iterate over each row
        var index = 0;
        for (var i = e.start.row; i <= e.end.row; i++){
            // Iterate over each column
            var [start, end] = [0, e.lines[index].length];
            if (index == 0){
                start += e.start.column;
                end += e.start.column;
            }

            var j_index = 0;
            for (var j = start; j < end; j++){
                let char = e.lines[index].charAt(j_index);
                pending_changes.push(['INS', [i, j], char, session_id])
                j_index++;
            }

            // If it is any row but the last row
            if(i < e.end.row){
                // Add a new line
                pending_changes.push(['INS', [i, end], '\n', session_id]);
            }

            index++;
        }

    }

    console.log(e);
})
</script>