
<!doctype html>

<!--
This is the redirect HTML file
for redirecting a user from creating
a new editor to redirecting them to the
new editor.

Copyright and Usage Information
===============================

This project and file is licensed with the MIT License.
See https://github.com/andrewcoool/collaborate-code/
and the LICENSE file for more information.

Author: Andrew Qiu (GitHub @andrewcoool)
-->

<html>
    <head>
        <meta http-equiv="refresh" content="7; url='../editor/?editor_id={{target}}'" />
      </head>
      <body>
        <p>If you see this, you need to redirect <a href="../editor/?editor_id={{target}}">here</a>.</p>
      </body>
</html>